@font-face {
    font-family: 'Roboto_Slab';
    src: url(../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto_Slab';
    border: none;
    outline: none;
    letter-spacing: 1px;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
}

a {
    text-decoration: none;
}

section {
    margin: 60px 0px;
}

.section-title-para {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.anchor {
    scroll-margin-top: 120px;
}

/* ------------------------------ navbar styling ------------------------------ */

nav {
    height: 100px;
    background-image: linear-gradient(#70747b, #343A40);
    background-color: #343A40;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav-links {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-links li a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-links li a:hover {
    color: rgba(255, 255, 255, 1);
}

.nav-links li a:active {
    color: rgba(255, 255, 255, 1);
}

/* ------------------------------ header styling ------------------------------ */

header {
    margin: 40px 0px;
    padding-top: 120px;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

.header-left {
    margin: auto;
}

.header-image {
    height: 340px;
    border-radius: 170px;
}

.header-right {
    text-align: center;
    margin: auto;
}

.header-right p {
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

.header-right h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 15px auto;
}

.header-right h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto;
}

.header-action-area {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.btn {
    border: 1px solid #343A40;
    border-radius: 30px;
    width: 160px;
    padding: 1em 2em;
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.btn-dark {
    background-color: #70747b;
    color: white;
}

.header-social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.header-social-icon {
    width: 30px;
}

/* ------------------------------ about section styling ------------------------------ */

.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

.about-left {
    margin: auto;
}

.about-image {
    height: 340px;
    border-radius: 40px;
}

.about-right {
    margin: auto;
}

.basic-edu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.edu-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.edu-box img {
    max-width: 160px;
    margin: auto;
}

.about-para {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

/* ------------------------------ experience section styling ------------------------------ */

.experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

.experience-box {
    border: 1px solid black;
    border-radius: 30px;
    padding: 28px;
}

.experience-box h2 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.experiences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.experience {
    display: flex;
    gap: 10px;
    margin: 10px 2px;
}

.experience img {
    width: 40px;
}

/* ------------------------------ projects section styling ------------------------------ */

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

.project-box {
    border: 1px solid black;
    border-radius: 30px;
}

.project-box img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.project-box h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.project-action-area {
    margin: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

/* ------------------------------ articles section styling ------------------------------ */

.articles-container {
    display: grid;
    grid-template-columns: 1fr;
}

.article-box {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
}

.article-box:hover {
    background-color: #c8c9cc;
    box-shadow: 12px 12px 16px 0 rgb(174, 171, 171);
}

.article-box img {
    width: 200px;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
}

.article-action-area {
    margin: 30px 0;
    
}

.article-action-area h4 {
    margin-bottom: 10px;
}

/* ------------------------------ contact section styling ------------------------------ */

.contacts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.contact-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-box img {
    width: 30px;
}

.contact-box a {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* ------------------------------ footer styling ------------------------------ */

footer {
    background-color: #18BC9C;
    padding: 50px 0;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: 500;
    color: white;
}

.footer-container a {
    color: white;
}