@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: 'Quicksand';
}